@{
    ViewBag.Title = "Contact";
}

<h2>Информация:</h2>
<h3>Выполнил Шоломов Даниил</h3>
<p>Возможности:</p>
<p>-Шифрование и расшифровка рускоязычных текстов с помощью шифра Виженера.</p>
<p>-Сохранение текста в формате .docx</p>
<p>-Работа напрямую с файлами .docx</p>
<br />
<p>damnsholomov@gmail.com</p>
<p>(За фронт извиняюсь, не люблю его очень сильно)</p>